$sk-aposema: var(--background-modifier-error);
$sk-aposema-hover: var(--background-modifier-error-hover);
$sk-field-err: var(--text-error);
$sk-field-norm: #1a1a1a;
$sk-field-mid: #444;
$sk-field-low: #222;
$sk-field-text: #999; 
